<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7f479a55bc.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- My Custom CSS -->
    <link rel="stylesheet" href="css/homeStyle.css">
    <title>VIT Devfest 2024</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://devfest.gdgrnd.ru/themes/gdg/assets/devfest2019/img/favicon-16x16.png">
</head>
<body>
    <nav>
        <div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
         </div>
        <div class="top-nav d-none d-md-flex bg-darky py-3 default-p">
            <i class="fab fa-facebook-f top-nav-item text-white px-3"></i>
            <i class="fab fa-twitter top-nav-item text-white px-3"></i>
            <a href="#" class="top-nav-item text-white px-3 text-decoration-none"></a>
            <a href="/signup" class="top-nav-item text-white px-3 text-decoration-none">Register</a>
            <a href="/login" class="top-nav-item text-white pl-3 text-decoration-none">Login</a>
        </div>
        <div class="lower-nav d-none d-md-flex default-p py-5 bg-white border-bottom align-items-center">
            <i class="fas fa-bars d-flex d-md-none"></i>
            <div class="nav-branding d-flex align-items-center cursor-pointer">
                <img src="assets/logo.png" class="nav-logo" alt="logo">
                <h2 class="nav-title ml-3">VIT Devfest 2024</h2>
            </div>
  
            <ul class="page-menu d-flex">
                <li class="mr-5">
                    <a href="/home" class="page-menu-item text-darky">
                        Home
                    </a>
                </li>
                <li class="mx-5">
                    <a href="/about" class="page-menu-item text-darky">
                        About
                    </a>
                </li>
                <li class="ml-5">
                    <a href="/ticket" class="page-menu-item text-orange">
                        Submit Papers
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Mobile Navigation -->
    <div class="dropdown d-flex d-md-none position-absolute">
        <i class="fas fa-bars cursor-pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"></i>

        <div class="dropdown-menu bg-darky" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item text-white" href="/home">Home</a>
          <a class="dropdown-item text-white" href="/about">About</a>
          <a class="dropdown-item text-white" href="/ticket">Submit papers</a>
        </div>
    </div>

    <main class="tickets-main">
        <section class="hero-section tickets-hero-section text-center">
            
            <h1 class="gdg-logo-head">Tracks for Research Paper</h1>
            <p class="program-head-hr my-3"></p>
            <div class="ticket-steps text-darky my-5">
               
                <div class="step-diamond bg-orange"></div>
                <span class="text-orange mr-4 ml-2">Step 1</span>
                Please select the type of Paper you want to submit.
            </div>
            <div class="tickets-table-wrapper mx-auto p-1">
               <div class="description"><h2>Cyber security</h2>
               <p>Cybersecurity involves protecting computer systems, networks, and data from digital attacks, unauthorized access, and theft. It encompasses various measures such as encryption, firewalls, antivirus software, and user education to ensure the confidentiality, integrity, and availability of information.
            </p>
            <h2>Data Science</h2>
            <p>Data science is the interdisciplinary field that uses scientific methods, algorithms, and systems to extract insights and knowledge from structured and unstructured data. It involves techniques such as data mining, machine learning, and statistical analysis to solve complex problems and make data-driven decisions.
            </p>
            <h2>Artificial Intelligence</h2>
            <p>Artificial intelligence (AI) is the simulation of human intelligence processes by machines, especially computer systems. It encompasses tasks such as learning, reasoning, problem-solving, perception, and language understanding. AI technologies aim to </p>
            <h2>Machine Learning</h2>
            <p>Machine learning is a subset of artificial intelligence that enables systems to automatically learn and improve from experience without being explicitly programmed. It involves algorithms that allow computers to recognize patterns in data and make predictions or decisions based on those patterns.
            </p>
            <h2>Internet of Things (IOT)</h2>
            <p>The Internet of Things (IoT) refers to the network of interconnected devices embedded with sensors, software, and other technologies, enabling them to collect and exchange data over the internet. These devices can range from everyday objects to industrial machines, creating opportunities for automation, monitoring, and efficiency improvements in various domains.
            </p>
            <h2>Blockchain technology</h2>
            <p>Blockchain technology is a decentralized, distributed ledger system that records transactions across multiple computers in a way that is transparent, secure, and resistant to tampering. Each block in the chain contains a cryptographic hash of the previous block, creating a chronological and immutable record of transactions.</p>
            </div>    
            <a href="/login" class="btn btn-primary">Submit</a>
            <div class="tickets-table-main container-fluid w-100 p-0">
                   
                    </div>
                </div>
            </div>
        </section>

        <div class="tickets-sep-box position-absolute bg-orange text-white d-flex">
            <div class="l-sep-box border-right-0 border-top-0"></div>
        </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>